/* Sidebar styles */
.sidebar {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar ul {
  list-style: none; /* remove bullets */
  display: flex; /* use flexbox for layout */
  flex-direction: column; /* stack items vertically */
  gap: 10px; /* space between items */
  padding-left: 0;
}

.sidebar a {
  text-decoration: none; /* remove underline */
  color: white !important; /* make text white */
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 7px 0px 7px 1rem;
  width: 100%;
  height: 100%;
}

.sidebar a svg {
  color: white; /* make Lucide icons white */
}

/* Active Link */

.sidebar ul li a.active {
  outline: 2px solid #b84a52;
  background-color: var(--primary-accent-color);
  border-radius: 15px;
}

.sidebar ul li a.active:hover {
  background-color: var(--primary-accent-hover);
  border-radius: 15px;
}

.sidebar ul li a.active:active {
  background-color: var(--primary-accent-active);
  border-radius: 15px;
}

.sidebar ul li a.active:focus {
  outline: 2px solid #b84a52; /* lighter red outline */
  outline-offset: 2px;
  border-radius: 15px;
}

/* Icons only for sidebar */

.iconsOnly .sidebar, .sidebar ul {
  margin-left: 0 !important;
}

.iconsOnly .sidebar svg {
  width: 1.7em !important;
  height: 1.7em !important;
}

.iconsOnly .sidebar ul li a span {
  display: none; /* hide text */
}

.iconsOnly .sidebar ul li a {
  padding: 10px;
}

.iconsOnly .sidebar ul li a svg {
  margin: 0px !important;
}
.iconsOnlySidebarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media query for font sizes and gap */

@media (max-width: 900px) {
  .sidbar a {
    font-size: 0.68rem !important;
  }
}

@media (max-width: 767px) {

  .sidebar ul {
    gap: 5px;
  }
}

@medi (max-width: 362px) {

  .sidebar a {
    font-size: 0.4rem !important;
  }
}