/* Sidebar styles */
.sidebar {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar ul {
  list-style: none; /* remove bullets */
  display: flex; /* use flexbox for layout */
  flex-direction: column; /* stack items vertically */
  gap: 20px; /* space between items */
}

.sidebar a {
  text-decoration: none; /* remove underline */
  color: white !important; /* make text white */
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.sidebar a svg {
  color: white; /* make Lucide icons white */
}

@media (max-width: 900px) {
  .sidbar a {
    font-size: 0.68rem !important;
  }
}

@media (max-width: 767px) {

  .sidebar ul {
    gap:15px;
  }
}

@medi (max-width: 362px) {

  .sidebar a {
    font-size: 0.4rem !important;
  }
}