:root {
  --primary-accent-color: #521C20;
  --primary-accent-hover: #6b252a;
  --primary-accent-active: #3d1417;
}

body {
  font-family: 'Inter', 'DM Sans', 'Roboto', 'Poppins', 'Work Sans', sans-serif;
  font-size: 16px; /* baseline */
}

